/* src/components/NavBar.module.css */

.NavBar {
  width: 100%;
  background-color: #ffffff; /* Updated to white for a cleaner look */
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Make sure it stays on top */
  border: 1px solid #eaeaea; /* Subtle border line to define the sidebar */
}

.NavList {
  list-style: none;
  padding: 0;
  margin: 0; /* No margin */
  display: flex; /* Horizontal layout */
  width: 100%; /* Ensure it takes up full container width */
  margin-left: 30px;
}

.NavItem {
  margin-right: 20px; /* Space between items */
}

.NavLink {
  display: block;
  padding: 15px 20px; /* Increase padding for better touch targets */
  color: #333; /* Darker text for better readability */
  text-decoration: none; /* Ensures no underline */
  transition: background-color 0.2s ease-in-out; /* Smooth transition for hover effects */
}

.NavLink:hover,
.NavLink:active {
  background-color: #f0f0f0; /* Light gray background on hover for subtlety */
  color: #000; /* Black text on hover for contrast */
}

.active {
  color: #000; /* Black text for active link */
  font-weight: bold; /* Bold text for active link */
}
